You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
# Write your function here
def negative_generator(x):
    return -x

In [3]:
# Test your function with input x
x = 4
negative_generator(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [28]:
# Write your function here
def minimum_val(lst):
    current_min = lst[0]
    for i in lst[1:]:
        if current_min > i:
            current_min = i
    return current_min

In [29]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]


# Create you own input list to test with
minimum_val(lst)

-3

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [34]:
import pandas as pd
def create_dataframe(l1, l2, col1, col2):
    return pd.DataFrame({col1:l1, col2:l2})

lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'
create_dataframe(lst1, lst2, str1, str2)

   one  two
0    1    2
1    2    4
2    3    5

In [35]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'
create_dataframe(lst1, lst2, str1, str2)

    one  alpha
0   688   -449
1   914   -465
2   757    109
3   813   -356
4   384   -376
5   -74   -455
6    -4   -224
7    86    -46
8   683   -441
9  -182   -395
10  237    -83
11  886   -475
12 -114   -361
13  770   -149
14 -189   -246
15  597     47
16  847     60
17   96   -152
18  769   -227
19  851    -98
20  375   -292
21 -219   -103
22  189     -9
23 -116   -451
24  427     92
25  875   -193
26  -98   -156
27 -163   -173
28   46   -185
29  557    -79
..  ...    ...
70  -26   -153
71  733   -223
72    3   -252
73  873   -301
74  -12   -415
75  317   -144
76  284   -316
77  389   -494
78  882     -7
79  360    -91
80  656   -332
81  928   -119
82   88    -92
83  172   -229
84  770   -276
85   62   -158
86  622   -301
87  617   -464
88  712   -114
89  427   -216
90  539    -80
91  623   -141
92  477   -402
93  442   -195
94  923   -428
95   84   -273
96  121   -370
97   30   -190
98  863     42
99  660   -241

[100 rows x 2 columns]